@namespace StudioElf.CodeBehindTemplates
@inherits ModuleBase

    <h4>Install Package for Oqtane CodeBehind Module and Theme Templates</h4>
    <p>
        Currently this module has no functionality except to assist in the Install and Un-install of the Templates.
    </p>
    <a href="https://github.com/leigh-pointer/StuidoElf.Oqtane.Templates/tree/main/StudioElf.Oqtane.Templates">StudioElf.Oqtane.Templates</a> -> github


